Repository wlcr/sn-fotf: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "**/*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "**/*.json": ["prettier --write"],
  "**/*.{md,mdx}": ["prettier --write"],
  "**/*.{css,scss,sass}": ["prettier --write"]
}

add padding
  app/styles/base.css
Due: prettier --write

rough in header
  app/components/Header/Header.module.css
  app/components/Header/Header.tsx
Due: eslint --fix, prettier --write

Update Header.module.css
  app/components/Header/Header.module.css
Due: prettier --write

remove style guide
  app/routes/_index.tsx
Due: eslint --fix, prettier --write

add typography
  app/styles/app.css
  app/styles/typography.css
Due: prettier --write

add neutral colors
  app/styles/variables.css
Due: prettier --write

update font syltes
  app/styles/typography.css
Due: prettier --write

re-implement style guide
  app/components/StyleGuide.tsx
  app/routes/_index.tsx
Due: eslint --fix, prettier --write

add button styles
  app/components/Button/Button.module.css
  app/components/Button/Button.tsx
  app/components/StyleGuide.tsx
Due: eslint --fix, prettier --write

Update StyleGuide.tsx
  app/components/StyleGuide.tsx
Due: eslint --fix, prettier --write

implement light round outline
  app/components/Button/Button.module.css
  app/components/Button/Button.tsx
  app/components/StyleGuide.tsx
Due: eslint --fix, prettier --write

disable wrap
  app/components/Button/Button.module.css
Due: prettier --write

add base mobile styles
  app/components/Header/Header.module.css
Due: prettier --write

add cursor
  app/components/Button/Button.module.css
Due: prettier --write

make props optional
  app/components/Button/Button.tsx
Due: eslint --fix, prettier --write

implement outline button
  app/components/Header/Header.tsx
Due: eslint --fix, prettier --write

add provider
  app/components/PageLayout.tsx
  app/context/Customer.tsx
  app/root.tsx
  env.d.ts
Due: eslint --fix, prettier --write

use ctx hook
  app/components/Header/Header.tsx
  app/context/Customer.tsx
  vite.config.ts
Due: eslint --fix, prettier --write

update root customer fetch
  app/root.tsx
  vite.config.ts
Due: eslint --fix, prettier --write

feat: redesign SEO controls with clear impact preview
  app/lib/seo.ts
  studio/components/SeoImpactPreview.tsx
  studio/sanity.types.ts
  studio/schema.json
  studio/schemaTypes/singletons/settings.tsx
Due: eslint --fix, prettier --write

fix: correct conditional field visibility for SEO impact preview
  studio/schemaTypes/singletons/settings.tsx
Due: eslint --fix, prettier --write

Fix ESLint configuration for Vitest
  EMBEDDED-STUDIO-MIGRATION.md
  eslint.config.js
  package-lock.json
  package.json
  scripts/seo-test.js
  studio/STUDIO-SEO-INTEGRATION.md
  studio/components/SeoImpactPreview.tsx
  studio/sanity.types.ts
  studio/schema.json
  studio/schemaTypes/singletons/settings.tsx
  tests/README.md
  tests/integration/seo/seo-implementation.test.ts
  tests/setup.ts
  tests/unit/seo/quick-strategy-test.js
  tests/unit/seo/seo-strategy.test.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

feat: implement embedded Sanity Studio with integrated SEO testing
  .env.example
  app/components/sanity/Cta.tsx
  app/components/sanity/ImageContentSection.tsx
  app/entry.server.tsx
  app/lib/sanity/linkResolver.ts
  app/root.tsx
  app/routes/[robots.txt].tsx
  app/routes/[sitemap.xml].tsx
  app/routes/_index.tsx
  app/routes/studio.$.tsx
  app/routes/studio.seo.tsx
  package-lock.json
  package.json
  storefrontapi.generated.d.ts
  studio/sanity.config.ts
  studio/tools/SeoTestingTool.tsx
  vite.config.ts
Due: eslint --fix, prettier --write

feat: Complete DOM library migration and cleanup for SEO tool
  app/routes/studio.seo.tsx
  package-lock.json
  package.json
  studio/sanity.config.ts
  vite.config.ts
Due: eslint --fix, prettier --write

chore: Remove remaining happy-dom dependency and update references
  app/routes/studio.seo.tsx
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

feat: Code review and cleanup of embedded Studio migration
  README.md
  SEO_ENHANCEMENTS.md
  SEO_TESTING_CHECKLIST.md
  app/routes/studio.$.tsx
  app/routes/studio.seo.tsx
  studio/STUDIO-SEO-INTEGRATION.md
  studio/tools/SeoTestingTool.tsx
Due: eslint --fix, prettier --write

docs: Complete Sanity documentation review for embedded Studio
  .warp/ai-context.md
  EMBEDDED-STUDIO-MIGRATION.md
  STUDIO_TROUBLESHOOTING.md
  app/lib/sanity.ts
  app/lib/sanity/api.ts
  docs/SANITY_DEVELOPER_GUIDE.md
  docs/SANITY_INTEGRATION.md
Due: eslint --fix, prettier --write

docs: consolidate and reorganize documentation structure
  CONTENT_SETUP_GUIDE.md
  README.md
  SEO_ENHANCEMENTS.md
  SEO_TESTING_CHECKLIST.md
  STUDIO_TROUBLESHOOTING.md
  docs/AI_DEVELOPMENT.md
  docs/AI_DEVELOPMENT_WORKFLOW.md
  docs/AI_PROMPT_ENGINEERING.md
  docs/CLIENT_SIDE_RENDERING.md
  docs/README.md
  docs/SANITY_DEVELOPER_GUIDE.md
  docs/SANITY_GUIDE.md
  docs/SANITY_INTEGRATION.md
  docs/SEO_GUIDE.md
  docs/TROUBLESHOOTING.md
  docs/archive/EMBEDDED-STUDIO-MIGRATION.md
  docs/archive/MIGRATION_PLAN.md
  docs/archive/RUBATO_REFERENCE.md
Due: prettier --write

fix: restore husky pre-commit hooks for quality gates
  .husky/pre-commit
Due: none

docs: update AI context and GitHub configs for hybrid Radix UI approach
  .github/PULL_REQUEST_TEMPLATE.md
  .github/copilot-context.md
  .github/copilot-instructions.md
  .warp/ai-context.md
  README.md
Due: prettier --write

set up column layout
  app/routes/products.$handle.tsx
Due: eslint --fix, prettier --write

fix: optimize bundle size for Oxygen deployment
  app/routes/studio.$.tsx
  vite.config.ts
Due: eslint --fix, prettier --write

docs: comprehensive bundle optimization and Sanity Studio guides
  docs/BUNDLE_OPTIMIZATION.md
  docs/README.md
  docs/SANITY_GUIDE.md
  docs/TROUBLESHOOTING.md
Due: prettier --write

docs: add bundle optimization guide to main README
  README.md
Due: prettier --write

feat: implement comprehensive SVG optimization pipeline and bundle improvements
  .husky/pre-commit
  README.md
  app/assets/favicon.svg
  app/assets/icons/logo.svg
  app/components/Header/Header.tsx
  app/components/Icons/LogoOptimized.tsx
  app/components/sanity/BlockRenderer.tsx
  app/components/sanity/FaqAccordion/FaqAccordion.tsx
  app/components/sanity/FaqSection.tsx
  app/components/sanity/NewsletterBlock.tsx
  docs/BUNDLE_OPTIMIZATION.md
  docs/SVG_GUIDE.md
  package-lock.json
  package.json
  scripts/optimize-svgs.js
  studio/static/friends-of-the-family-logo.svg
  studio/static/sierra-nevada-logo.svg
  svgo.config.cjs
  types/svg.d.ts
  vite.config.ts
Due: eslint --fix, prettier --write

fix: completely eliminate motion/react from server bundle
  app/components/sanity/FaqAccordion/FaqAccordion.tsx
Due: eslint --fix, prettier --write

fix: remove unused sanity import causing deployment error
  app/components/sanity/NewsletterBlock.tsx
Due: eslint --fix, prettier --write

fix: resolve deployment error and SVG optimization config
  vite.config.ts
Due: eslint --fix, prettier --write

fix: remove @sanity/vision from SSR external to resolve deployment
  vite.config.ts
Due: eslint --fix, prettier --write
