Repository wlcr/sn-fotf: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "**/*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "**/*.json": ["prettier --write"],
  "**/*.{md,mdx}": ["prettier --write"],
  "**/*.{css,scss,sass}": ["prettier --write"]
}

feat: Sanity Studio cleanup and comprehensive settings implementation
  app/lib/sanity/queries/settings.ts
  studio/sanity.types.ts
  studio/schema.json
  studio/schemaTypes/singletons/cookiePolicy.ts
  studio/schemaTypes/singletons/settings.tsx
  studio/structure.ts
Due: eslint --fix, prettier --write

fix: resolve TypeScript validation errors in settings schema
  studio/schemaTypes/singletons/settings.tsx
Due: eslint --fix, prettier --write

Clean up test field from settings schema
  debug-schema.cjs
  schema-test.json
  studio/temp-schema.json
  validate-schema.cjs
Due: prettier --write

Remove debugging files from schema validation
  debug-schema.cjs
  schema-test.json
  studio/temp-schema.json
  validate-schema.cjs
Due: prettier --write

Add typed helper functions for settings query organization
  app/lib/sanity/queries/settings.ts
Due: eslint --fix, prettier --write

extend themeprops
  env.d.ts
Due: eslint --fix, prettier --write

Create ThemeMillsRiver.tsx
  app/components/Themes/ThemeMillsRiver.tsx
Due: eslint --fix, prettier --write

do a big scary delete
  app/styles/app.css
  app/styles/base.css
  app/styles/buttons.css
  app/styles/colors.css
  app/styles/components.css
  app/styles/forms.css
  app/styles/helpers.css
  app/styles/layout.css
  app/styles/links.css
  app/styles/routes.css
  app/styles/tables.css
  app/styles/themes.css
  app/styles/typography.css
  app/styles/units.css
  app/styles/variables.css
  app/styles/view-transitions.css
Due: prettier --write

add mills river theme and styles
  app/root.tsx
Due: eslint --fix, prettier --write

simplify styleguide
  app/components/StyleGuide.tsx
Due: eslint --fix, prettier --write

implement light and dark mills river themes
  app/components/StyleGuide.tsx
  app/components/Themes/ThemeMillsRiverDark.tsx
  app/components/Themes/ThemeMillsRiverLight.tsx
  app/root.tsx
  app/styles/themes.css
  app/styles/variables.css
Due: eslint --fix, prettier --write

update config for tunnel
  vite.config.ts
Due: eslint --fix, prettier --write

update customer fetch
  app/graphql/customer-account/CustomerDetailsQuery.ts
  customer-accountapi.generated.d.ts
Due: eslint --fix, prettier --write

implement customer on home page
  app/routes/_index.tsx
Due: eslint --fix, prettier --write

update redirects to avoid accounts pages
  app/routes/account.$.tsx
  app/routes/account._index.tsx
Due: eslint --fix, prettier --write

add note
  app/routes/_index.tsx
Due: eslint --fix, prettier --write

Update StyleGuide.tsx
  app/components/StyleGuide.tsx
Due: eslint --fix, prettier --write

feat: standardize product routing with comprehensive SEO integration
  app/lib/sanity/linkResolver.ts
  app/lib/sanity/queries/settings.ts
  app/lib/seo.ts
  app/routes/[robots.txt].tsx
  app/routes/packages.$handle.tsx
  app/routes/products.$handle.tsx
  studio/queries/index.ts
  studio/sanity.types.ts
  studio/schema.json
  studio/schemaTypes/documents/page.ts
  studio/schemaTypes/documents/productPage.ts
  studio/schemaTypes/index.ts
  studio/schemaTypes/objects/collectionBlock.ts
  studio/schemaTypes/objects/pageSection.ts
  studio/schemaTypes/singletons/settings.tsx
Due: eslint --fix, prettier --write

feat: enhance SEO metadata composition with CollectionPage support
  app/lib/seo.ts
  app/routes/collections.$handle.tsx
  app/routes/products.$handle.tsx
  storefrontapi.generated.d.ts
  studio/queries/index.ts
  studio/sanity.types.ts
  studio/schema.json
  studio/schemaTypes/documents/collectionPage.ts
  studio/schemaTypes/index.ts
Due: eslint --fix, prettier --write

remove custom themes, implement basic green scale
  app/components/StyleGuide.tsx
  app/components/Themes/ThemeMillsRiverDark.tsx
  app/components/Themes/ThemeMillsRiverLight.tsx
  app/root.tsx
  app/styles/base.css
  app/styles/themes.css
  app/styles/variables.css
Due: eslint --fix, prettier --write

remove console logs
  app/components/sanity/Cta.tsx
  app/components/sanity/ImageContentSection.tsx
  app/routes/_index.tsx
Due: eslint --fix, prettier --write

reorder loaders
  app/root.tsx
Due: eslint --fix, prettier --write

fix: resolve TypeScript errors and improve Sanity Studio stability
  .gitignore
  .sanity/runtime/app.js
  .sanity/runtime/index.html
  .warp/ai-context.md
  STUDIO_TROUBLESHOOTING.md
  app/lib/sanity/queries/settings.ts
  app/lib/seo/open-graph.ts
  package.json
Due: eslint --fix, prettier --write

feat: comprehensive SEO enhancements and schema improvements
  .eslintrc.js
  .gitignore
  SEO_ENHANCEMENTS.md
  app/components/StructuredData.tsx
  app/lib/seo.ts
  app/lib/seo/routes.ts
  app/lib/seo/structured-data.ts
  app/routes/collections.$handle.tsx
  app/routes/products.$handle.tsx
  app/routes/robots[.]txt.tsx
  app/routes/sitemap[.]xml.tsx
  package-lock.json
  storefrontapi.generated.d.ts
  studio/sanity.config.ts
  studio/sanity.types.ts
  studio/schema.json
  studio/schemaTypes/documents/collectionPage.ts
  studio/schemaTypes/documents/productPage.ts
  studio/schemaTypes/index.ts
  studio/schemaTypes/objects/openGraph.ts
  studio/schemaTypes/singletons/settings.tsx
  studio/static/friends-of-the-family-logo.svg
  studio/static/sierra-nevada-logo.svg
Due: eslint --fix, prettier --write

docs: add comprehensive SEO testing and content setup guides
  CONTENT_SETUP_GUIDE.md
  SEO_TESTING_CHECKLIST.md
Due: prettier --write

feat: add SEO testing utilities with proper linting configuration
  .gitignore
  app/test-open-graph.ts
  eslint.config.js
  scripts/seo-test.js
Due: eslint --fix, prettier --write

chore: update legacy ESLint config with test file rules
  .eslintrc.js
Due: eslint --fix, prettier --write

feat: restore console logging in SEO development utilities
  app/lib/seo/routes.ts
  app/test-open-graph.ts
  eslint.config.js
Due: eslint --fix, prettier --write

docs: update SEO documentation with comprehensive test utility information
  README.md
  SEO_ENHANCEMENTS.md
  SEO_TESTING_CHECKLIST.md
Due: prettier --write

move asides to own files
  app/components/CartAside.tsx
  app/components/PageLayout.tsx
  app/components/SearchAside.tsx
Due: eslint --fix, prettier --write

move asides to their own files
  app/components/Aside.tsx
  app/components/CartAside/CartAside.module.css
  app/components/CartAside/CartAside.tsx
  app/components/PageLayout.tsx
  app/components/SearchAside/SearchAside.module.css
  app/components/SearchAside/SearchAside.tsx
  app/components/index.ts
Due: eslint --fix, prettier --write

delete husky RIP
  .husky/pre-commit
Due: none

fix weird import issues with header
  app/components/Header/Header.module.css
  app/components/Header/Header.tsx
  app/components/Header/index.ts
Due: eslint --fix, prettier --write

Delete index.ts
  app/components/index.ts
Due: eslint --fix, prettier --write

moved skip link to its own file
  app/components/Header/Header.module.css
  app/components/Header/Header.tsx
  app/components/PageLayout.tsx
  app/components/SkipLink.module.css
  app/components/SkipLink.tsx
Due: eslint --fix, prettier --write

add openprops
  app/styles/app.css
Due: prettier --write

Create Logo.tsx
  app/components/Icons/Logo.tsx
Due: eslint --fix, prettier --write

fix top
  app/components/SkipLink.module.css
Due: prettier --write
